@import url('font.css');
:root {
    --dark-blue: #424d83;
    --light-blue: #93a5ff;
}
html {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
p {
    color: #2e2e2e;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
}

/* ===============start header=============== */
#header {
    height: 100vh;
    background: url('../images/headerBg.png') center/cover no-repeat;
    padding-bottom: 50px;
}
/* ===============end header=============== */
