@import url('font.css');
:root {
    --dark-blue: #424d83;
    --light-blue: #93a5ff;
}
html {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
p {
    color: #2e2e2e;
}
