@import url('common.css');
@import url('header-footer.css');
@import url('sections/services.css');
html {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
}
body {
    font-family: var(--nunito-Regular);
}
img {
    width: 100%;
    height: auto;
}
p {
    color: #2e2e2e;
    opacity: 0.8;
}
a {
    text-decoration: none;
}
button,
input,
select {
    outline: 0;
    border: 0;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
}
.icon {
    color: var(--light-blue);
    font-size: 0.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2e2e2e;
}
