@import url('font.css');
:root {
    --dark-blue: #424d83;
    --light-blue: #93a5ff;
    --nunito-Black: 'Nunito-Black';
    --nunito-bold: 'Nunito-bold';
    --nunito-Italic: 'Nunito-Italic';
    --nunito-Light: 'Nunito-Light';
    --nunito-Regular: 'Nunito-Regular';
}
