@font-face {
    font-family: 'Nunito-Black';
    src: url('../fonts/Nunito-Black.ttf');
}
@font-face {
    font-family: 'Nunito-bold';
    src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Italic';
    src: url('../fonts/Nunito-Italic.ttf');
}
@font-face {
    font-family: 'Nunito-Light';
    src: url('../fonts/Nunito-Light.ttf');
}
@font-face {
    font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.ttf');
}
