@media only screen and (max-width: 1200px) {
    /* ******start content header****** */
    .categories__btn {
        display: block;
        width: 77%;
        margin-top: 0.6rem;
    }
    /* ******end content header****** */
}
@media only screen and (max-width: 992px) {
    /* ************ start menu **********/
    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -220px;
        top: 0;
        background: #93a5ff;
        text-align: center;
        max-width: 250px;
        width: 220px;
        height: 100vh;
        z-index: 99;
    }
    .menu__item {
        margin: 30px 0;
    }
    .menu__item--btn {
        width: 80%;
        margin: 0 auto;
    }
    .menu__item--btn:hover {
        background: #fff;
        color: #93a5ff;
    }
    .menu__item--btn:hover .menu__icon--awesome {
        color: #93a5ff;
    }
    .line-menu {
        display: block;
    }
    /************* end menu ************ */
    /******* start content header ****** */
    .categories {
        width: 60% !important;
    }
    .categories__btn {
        width: 95%;
        /* ******start content header****** */
    }
    /******* end content header ****** */
    /******* start services ****** */
    .content-services {
        flex-direction: column-reverse;
    }
    .services-banner {
        width: 100%;
        margin-bottom: 2rem;
    }
    /******* end services ****** */
    /******* start  start-section ****** */
    .start__content {
        flex-direction: column;
    }
    .start {
        margin: 10px 0;
    }
    /******* end start-section ****** */
    /* **********start plan ******** */
    .plan__section {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .plan {
        width: 47%;
        margin: 15px auto;
    }
    .plan__bottom-box {
        height: 220px;
    }
    /* **********end plan ******** */
    /* *************start comment*********** */
    .comment__section {
        flex-direction: column;
        align-items: center;
    }
    .comment {
        margin: 1rem 0;
    }
    .comment__body {
        max-width: 500px;
    }
    .comment__doted {
        max-width: 110px;
    }
    /* *************end comment*********** */
}
@media only screen and (max-width: 768px) {
    /* ******start content header****** */
    .header-content {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 2rem;
    }
    .header-content > div {
        width: auto !important;
    }
    .categories__input {
        max-width: 100%;
        width: 100%;
    }
    .box-domain {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    /* ******end content header****** */
}
@media only screen and (max-width: 576px) {
    /***********start title & subtitle********* */
    .section-title {
        font-size: 1.6rem;
    }
    .section-caption {
        font-size: 1.2em;
    }
    /* **********end title & subtitle********* */

    /* ************start menu************ */
    .line {
        height: 3px;
    }
    /* ************ end menu************ */

    /******* start content header ****** */
    .categories__title {
        font-size: 2rem;
    }
    .categories__input {
        padding: 13px 10px;
    }
    /******* end content header ****** */
    /* **********start plan ******** */
    .plan {
        width: 100%;
        margin: 15px 0;
    }
    /* **********end plan ******** */
    /* *************start comment*********** */
    .comment {
        flex-direction: column;
        text-align: center;
    }
    .comment__body {
        max-width: 100%;
    }
    .comment__image {
        justify-content: center;
        margin: 0 0 1rem;
    }
    .comment__doted {
        display: none;
    }
    /* *************end comment*********** */
}

/* ******************* min-width  ************** */
@media only screen and (min-width: 576px) {
    .container {
        max-width: 546px;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }
}
@media only screen and (min-width: 992px) {
    .container {
        max-width: 972px;
    }
    .line-menu {
        display: none;
    }
    .plan__section {
        height: 560px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}
